In [15]:
import numpy as np
import pandas as pd

In [16]:
pd.DataFrame(np.random.binomial(n=1,p=0.1,size=10000)).describe()

                  0
count  10000.000000
mean       0.097500
std        0.296652
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [19]:
pd.DataFrame(np.random.normal(loc=0,scale=1,size=10000)).describe()

                  0
count  10000.000000
mean       0.013988
std        1.006679
min       -3.749283
25%       -0.660172
50%        0.019101
75%        0.691648
max        3.834429